[submodule "coalition-majority"]
	path = coalition-majority
	url = https://gist.github.com/6475152.git
[submodule "party-votes"]
	path = party-votes
	url = https://gist.github.com/6475739.git
[submodule "confidence-interval"]
	path = confidence-interval
	url = https://gist.github.com/6552457.git
[submodule "party-trend"]
	path = party-trend
	url = https://gist.github.com/6574995.git
[submodule "combi-chart"]
	path = combi-chart
	url = https://gist.github.com/6587098.git
[submodule "blame-chart"]
	path = blame-chart
	url = https://gist.github.com/6596508.git
[submodule "relative-budgets"]
	path = relative-budgets
	url = https://gist.github.com/6826638.git
[submodule "advanced-table"]
	path = advanced-table
	url = https://gist.github.com/7241320.git
[submodule "simple-table"]
	path = simple-table
	url = https://gist.github.com/7075823.git
[submodule "majority-chart"]
	path = majority-chart
	url = https://gist.github.com/8478044.git
[submodule "world-map"]
	path = world-map
	url = git@gist.github.com:/8287bd24c157edb5bb2b.git
